.sign-up-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 375px;
    margin-top: 3rem;

    .sign-up-img-container {
        width: 580px;
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 4rem;
            border-bottom-left-radius: 4rem;
        }
    }

    .sign-up-info {
        width: 470px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        color: black;
        background-color: #fff;
        border-top-right-radius: 4rem;
        border-bottom-right-radius: 4rem;
        padding: 2rem;

        .sign-up-info-title {
            font-family: "MicroExtendFLF";
            margin-bottom: 9px;
        }

        .sign-up-info-post-title {
            margin-bottom: 2rem;
        }

        .sign-up-form {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-wrap: wrap;

            .form-label {
                margin-bottom: 6px;
            }

            .form-input {
                width: 100%;
                margin-bottom: 2rem;
                padding: 5px;
                font-size: 18px;
                border: none;
                border-bottom: 1px solid black;
            }

            .form-input:focus {
                outline: none;
            }

            .sign-up-btn {
                padding: 10px 17px;
                border: none;
                border-radius: 7px;
                font-size: 16px;
                cursor: pointer;
                background: linear-gradient(144deg, rgb(165, 129, 255) 38%, rgb(252, 120, 127) 73%);
                color: #fff;
            }

        }

        .sign-un-p {
            margin: 0;
            margin-top: 3rem;

            a {
                text-decoration: none;
                font-weight: bold;
            }

            a:hover {
                color: red;
            }
        }
    }
}

@media screen and (max-width: 1150px) {
    .sign-up-img-container {
        display: none;
    }

    .sign-up-info {
        border-top-left-radius: 4rem;
        border-bottom-left-radius: 4rem;
    }
}

@media screen and (max-width: 560px) {
    .sign-up-container {
        .sign-up-info {
            width: 380px;
        }
    }
}

@media screen and (max-width: 470px) {
    .sign-up-container {
        .sign-up-info {
            width: 355px;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 470px) {
    .sign-up-container {
        .sign-up-info {
            padding: 20px 1px;
        }
    }
}