.details-comments-title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-family: "MicroExtendFLF";
}
.details-comments-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}